fieldset {
  width: 67%;
  display: -webkit-inline-box;
}

input {
  width: 70%;
  display: -webkit-inline-box;
}

input[type=number] {
  position: relative;
  cursor: pointer;
  width: 70%;
  display: block;
}

.form-radio {
  position: relative;
  cursor: pointer;
  width: 5%;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
  width: 5%;
}

select {
  width: 72%;
  display: block;
}

body {
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
  background-color: var(--vscode-editor-background);
}

label {
  border: none;
  font-family: var(--vscode-font-family);
  font-size: 15px;
}

select:box option::selected {
  background-color: #3f4beb;
  /** #4daafc **/
}

.select-height {
  width: 50%;
  height: 30px;
}

.header-text-font {
  background: white;
  color: black;
  padding: 1%;
  align-content: center;
  margin-bottom: 15px;
  margin-top: 20px;
  width: 48%;
  margin-left: 10px;
}

.label-margin {
  display: inline-block;
  margin: 10px 0px 0px 10px;
  font-size: 1.2em;
}

.label-margin-info {
  display: inline-block;
  margin: 3px 0px 0px 0px;
  font-size: 0.8em;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  overflow-x: auto;
}

.images-margin {
  display: inline-block;
  margin: 10px 10px;
  justify-content: center;
  width: 100%;
  height: auto;
}

.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 150px;
  height: 130px;
  padding: 5px;
  border: 2px solid grey;
  margin-right: 12px;
  margin-bottom: 12px;
}

.myImg:hover {
  opacity: 0.7;
  border: 1px solid var(--oc-colors-main-cardBgLnk, #246fc7);
}

.myImg:active {
  opacity: 0.7;
  border: 1px solid var(--oc-colors-main-cardBgLnk, #246fc7);
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: var(--oc-colors-main-black, #000000);
  /* Fallback color */
  background-color: var(--oc-colors-main-black, #000000);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: var(--oc-colors-primaryGrays-40);
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--oc-colors-main-btnBgDflt, #F5F5F5);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--oc-colors-primaryGrays-50);
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  flex-direction: row;
  padding: 5px;
  margin: 5px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.input-block {
  display: block;
}

.input-margin {
  margin: 5px 0px 10px 10px;
  font-size: 1.2em;
}

.left-margin {
  margin-left: 10px;
}

.button-margin-wb {
  margin: 0px 0px 0px 10px;
  font-size: 1.2em;
}

.select-margin-wb {
  margin: 5px 0px 10px 10px;
  font-size: 1.2em;
}

.fs-input-margin-wb {
  margin: 5px 0px 10px 10px;
  font-size: 1.2em;
}

.fs-label-margin-wb {
  display: inline-block;
  margin: 10px 0px 0px 10px;
  font-size: 1.2em;
}

.left-margin {
  margin-left: 10px;
}

.button-margin-wb {
  margin: 0px 0px 0px 10px;
  font-size: 1.2em;
}

.select-margin-wb {
  margin: 5px 0px 10px 10px;
  font-size: 1.2em;
}

.fs-input-margin-wb {
  margin: 5px 0px 10px 10px;
  font-size: 1.2em;
}

.fs-label-margin-wb {
  display: inline-block;
  margin: 10px 0px 0px 10px;
  font-size: 1.2em;
}

.textarea-margin {
  margin: 15px 0px 10px 0px;
  font-size: 1.2em;
}

.textarea-size {
  width: 800px;
  min-height: 500px;
  resize: both;
  overflow-y: auto;
}


.fs-label-margin {
  display: inline-block;
  margin: 10px 0px 0px 0px;
  font-size: 1.0em;
}

.fs-input-margin {
  margin: 5px 0px 10px 0px;
  font-size: 1.0em;
}

.file-padding {
  padding-top: 10px;
}

.label-file-width {
  width: 15%;
}

.button-margin {
  margin: 10px 0px 0px 10px;
}

.button-placement-right {
  float: right;
}

button {
  border: none;
  text-align: center;
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
}

.error {
  padding-left: 5px;
  color: red;
}

#output-level-checkbox {
  width: auto;
}

.float-container {
  display: flex;
  border-block: none;
}

.float-child {
  width: 10px;
  float: left;
  padding: 2px;
}

.cancel-button {
  margin-left: 55px;
}

.float-container button {
  cursor: pointer;

}

.float-container .button:hover {
  background-color: #2f38bf;
}

/* div : 2-column */

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}

.fieldset-input {
  width: 100%;
  display: -webkit-inline-box;
}

.div-radio {
  position: relative;
  cursor: pointer;
  width: 30%;
}

/** react css **/

.oui-react-input {
  height: 1.5rem;
}

.oui-react-select,
.oui-react-select:not([multiple]):not([size]) {
  height: 1.8rem;
}

.oui-flex {
  display: flex;
}

.oui-text-muted {
  color: var(--oc-colors-content-secondary, #f3eeee) !important;
  /**color: #665f5b !important;**/
}

.oui-flex-middle {
  align-items: center;
}

.oui-react-optional-text,
.oui-react-readonly-text {
  font-size: 13.75px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  margin-left: 8px;
}

.oui-text-small {
  font-size: 11px;
  line-height: 17px;
}

.oui-display-hint-padding {
  padding-top: 4px;
}

.oui-form-danger {
  color: var(--oc-colors-main-dangerBg, initial);
  /**color: var(--vscode-errorForeground);**/
  padding-left: 20px;
  position: relative;
}

.oui-margin-small-bottom {
  margin-bottom: 5px !important;
}

.oui-form-danger,
.oui-form-danger:focus {
  color: var(--vscode-errorForeground);
  border-color: #e4001e;
}

.oui-form-danger img {
  position: absolute;
  left: 1px;
  top: 2px;
}

img:not(:root) {
  overflow: hidden;
}

#file-text-input {
  width: 100%;
  height: 600px;
  border: 1px solid #ccc;
  margin-left: 10px;
}

:host,
:root,
[data-theme] {
  --chakra-ring-inset: var(--chakra-empty, );
  --chakra-ring-offset-width: 0px;
  --chakra-ring-offset-color: #fff;
  --chakra-ring-color: rgba(66, 153, 225, 0.6);
  --chakra-ring-offset-shadow: 0 0 #0000;
  --chakra-ring-shadow: 0 0 #0000;
  --chakra-space-x-reverse: 0;
  --chakra-space-y-reverse: 0;
  --oc-colors-main-borderDflt: var(--oc-colors-main-bgDarkest);
  --oc-colors-main-btnBgDflt: var(--oc-colors-main-bgLighter);
  --oc-colors-main-btnBgDfltActv: var(--oc-colors-main-bgLightest);
  --oc-colors-main-btnBgDfltHvr: var(--oc-colors-main-bgDark);
  --oc-colors-main-btnBgDisabled: var(--oc-colors-main-bgLight);
  --oc-colors-main-btnBgPrmy: var(--oc-colors-main-fgLighter);
  --oc-colors-main-btnBgPrmyActv: var(--oc-colors-main-fgLighter);
  --oc-colors-main-btnBgPrmyHvr: var(--oc-colors-main-fgLight);
  --oc-colors-main-btnBgPrmyTxt: var(--oc-colors-main-white);
  --oc-colors-main-btnBrdrDflt: var(--oc-colors-main-bgDarkest);
  --oc-colors-main-btnDfltTxt: var(--oc-colors-main-fgDark);
  --oc-colors-main-btnFocus: var(--oc-colors-main-primaryDarker);
  --oc-colors-main-btnBrdrDisabled: var(--oc-colors-main-bgDarkest);
  --oc-colors-main-btnTxtDisabled: var(--oc-colors-main-fgLighter);
  --oc-colors-main-disabledLnk: var(--oc-colors-main-primaryLighter);
  --oc-colors-main-switchControl: var(--oc-colors-main-chFgLight);
  --oc-colors-main-disabledOffSwitch: var(--oc-colors-main-bgLight);
  --oc-colors-main-disabledOnSwitch: var(--oc-colors-main-primaryLighter);
  --oc-colors-main-elementHover: var(--oc-colors-main-primaryLighter);
  --oc-colors-main-elementSelected: var(--oc-colors-main-primaryLight);
  --oc-colors-main-iconFg: var(--oc-colors-main-fgLight);
  --oc-colors-main-infoBlockBg: var(--oc-colors-main-bgLightest);
  --oc-colors-main-inputBrdrDflt: var(--oc-colors-main-bgDarkest);
  --oc-colors-main-inputDfltBg: var(--oc-colors-main-bgLightest);
  --oc-colors-main-inputDfltTxt: var(--oc-colors-main-fgBase);
  --oc-colors-main-menuBg: var(--oc-colors-main-bgLightest);
  --oc-colors-main-menuBgTxt: var(--oc-colors-main-fgDark);
  --oc-colors-main-metadata: var(--oc-colors-main-fgLighter);
  --oc-colors-main-modalBrdr: var(--oc-colors-main-bgDarkest);
  --oc-colors-main-modalPrimaryBg: var(--oc-colors-main-bgLight);
  --oc-colors-main-modalSecondaryBg: var(--oc-colors-main-bgLightest);
  --oc-colors-main-mutedBg: var(--oc-colors-main-bgBase);
  --oc-colors-main-mutedGray: var(--oc-colors-main-fgLightest);
  --oc-colors-main-mutedLnk: var(--oc-colors-main-primaryLighter);
  --oc-colors-main-mutedTxt: var(--oc-colors-main-fgLighter);
  --oc-colors-main-navBg: var(--oc-colors-main-bgBase);
  --oc-colors-main-navBgHvr: var(--oc-colors-main-primaryDarker);
  --oc-colors-main-navBgLnk: var(--oc-colors-main-primaryBase);
  --oc-colors-main-navBgTxt: var(--oc-colors-main-fgBase);
  --oc-colors-main-panelBg: var(--oc-colors-main-bgLightest);
  --oc-colors-main-pageBg: var(--oc-colors-main-bgBase);
  --oc-colors-main-panelPrimaryBg: var(--oc-colors-main-bgLight);
  --oc-colors-main-panelSecondaryBg: var(--oc-colors-main-bgLightest);
  --oc-colors-main-primaryBg: var(--oc-colors-main-bgLight);
  --oc-colors-main-primaryBgLnk: var(--oc-colors-main-primaryBase);
  --oc-colors-main-primaryBgLnkActv: var(--oc-colors-main-primaryDarker);
  --oc-colors-main-primaryBgLnkDisabled: var(--oc-colors-main-primaryLighter);
  --oc-colors-main-primaryBgLnkHvr: var(--oc-colors-main-primaryDarker);
  --oc-colors-main-primaryBgTxt: var(--oc-colors-main-fgBase);
  --oc-colors-main-primaryCardBg: var(--oc-colors-main-bgLightest);
  --oc-colors-main-primaryCardBgTxt: var(--oc-colors-main-fgLight);
  --oc-colors-main-primaryLnk: var(--oc-colors-main-primaryBase);
  --oc-colors-main-primaryLnkHover: var(--oc-colors-main-primaryDark);
  --oc-colors-main-secondaryBg: var(--oc-colors-main-chBgBase);
  --oc-colors-main-secondaryBgLnk: var(--oc-colors-main-chPrimaryBase);
  --oc-colors-main-secondaryBgTxt: var(--oc-colors-main-chFgBase);
  --oc-colors-main-secondaryFlatTxt: var(--oc-colors-main-fgLighter);
  --oc-colors-main-secondaryLnk: var(--oc-colors-main-chPrimaryBase);
  --oc-colors-main-selectionBg: var(--oc-colors-main-primaryBase);
  --oc-colors-main-tabBg: var(--oc-colors-main-bgLightest);
  --oc-colors-main-tabBtnTxt: var(--oc-colors-main-fgLight);
  --oc-colors-main-tabBorder: var(--oc-colors-main-bgDarkest);
  --oc-colors-main-tabBorderActive: var(--oc-colors-main-primaryBase);
  --oc-colors-main-tableBorder: var(--oc-colors-main-bgDarkest);
  --oc-colors-main-tableBg: var(--oc-colors-main-bgLightest);
  --oc-colors-main-tableExRowBg: var(--oc-colors-main-primaryLighter);
  --oc-colors-main-tableRowActionActive: var(--oc-colors-main-primaryLighter);
  --oc-colors-main-tableTrHvr: var(--oc-colors-main-primaryLightest);
  --oc-colors-main-disabledBgTxt: var(--oc-colors-main-fgLighter);
  --oc-colors-main-selectedCardBg: var(--oc-colors-main-primaryLighter);
  --oc-colors-main-hoverCardBg: var(--oc-colors-main-primaryLightest);
  --oc-colors-main-hoverCardBrdr: var(--oc-colors-main-primaryBase);
  --oc-colors-main-selectedCardBrdr: var(--oc-colors-main-primaryBase);
  --oc-colors-main-cardRadioSelected: var(--oc-colors-main-primaryLighter);
  --oc-colors-main-cardRadioHover: var(--oc-colors-main-primaryLightest);
  --oc-colors-main-cardRadioDespTxt: var(--oc-colors-main-fgBase);
  --oc-colors-main-megaMenuPrimaryFont: var(--oc-fontWeights-regular);
  --oc-colors-main-megaMenuPrimary: var(--oc-colors-main-white);
  --oc-colors-main-shellTabBg: var(--oc-colors-main-chBgAlt);
  --oc-colors-main-shellTabTxt: var(--oc-colors-main-black);
  --oc-colors-main-searchTxt: var(--oc-colors-main-chBgAlt);
  --oc-colors-main-searchBg: var(--oc-colors-main-chBgLightest);
  --oc-colors-main-navActiveBorder: #514C47;
  --oc-colors-main-lifeRaft: var(--oc-colors-main-chBgLight);
  --oc-colors-main-homePageBg: #FBF9F8;
  --oc-colors-main-tabSwitchBorder: transparent;
  --oc-colors-main-footerBg: #FBF9F8;
  --oc-colors-main-footerLink: var(--oc-colors-main-chBgBase);
  --oc-colors-main-footerLinkHover: var(--oc-colors-main-fgLighter);
  --oc-colors-main-footerTxt: var(--oc-colors-main-primaryBgTxt);
  --oc-colors-main-redwoodLink: var(--oc-colors-main-primaryBase);
  --oc-colors-main-redwoodNavCategoryHeading: rgba(22, 21, 19, 0.7);
  --oc-colors-main-redwoodNavCategoryHeadingActive: rgba(22, 21, 19, 1);
  --oc-colors-main-redwoodNavCategoryHeadingHover: rgba(22, 21, 19, 0.12);
  --oc-colors-main-redwoodHeaderTab: rgba(251, 249, 248, 1);
  --oc-colors-main-redwoodHeaderTitle: rgba(22, 21, 19, 1);
  --oc-colors-main-redwoodHeaderTxt: rgba(22, 21, 19, 0.7);
  --oc-colors-main-redwoodSearchBg: #171614;
  --oc-colors-main-redwoodWidgetTitle: var(--oc-colors-main-black);
  --oc-colors-main-redwoodWidgetBg: var(--oc-colors-main-white);
  --oc-colors-main-listWidgetWrapper: var(--oc-colors-main-white);
  --oc-colors-main-listWidgetBorder: rgba(22, 21, 19, 0.12);
  --oc-colors-main-listWidgetTxtColor: #161513b2;
  --oc-colors-main-listWidgetBtnTxtColor: rgb(22, 21, 19);
  --oc-colors-main-listWidgetBtnBorder: rgba(22, 21, 19, .5);
  --oc-colors-main-listWidgetIconColor: #161513;
  --oc-colors-main-redwoodHomePageBg: rgba(255, 255, 255, 1);
  --oc-colors-main-redwoodPreFooterBg: rgba(251, 249, 248, 1);
  --oc-colors-main-redwoodFooter: #f5f4f2;
  --oc-colors-main-redwoodFooterTxt: rgba(22, 21, 19, 0.7);
  --oc-colors-main-redwoodText: rgba(22, 21, 19, 1);
  --oc-colors-main-redwoodFooterLink: #161513;
  --oc-colors-main-redwoodFooterLinkHover: var(--oc-colors-main-footerLinkHover);
  --oc-colors-main-redwoodFooterTxt2: var(--oc-colors-main-chBgBase);
  --oc-colors-main-redwoodPreFooterText: rgba(22, 21, 19, 1);
  --oc-colors-main-redwoodPreFooterLink: rgba(0, 104, 140, 1);
  --oc-colors-main-redwoodWidgetBorder: #1615131f;
  --oc-colors-main-redwoodTableBg: transparent;
  --oc-colors-main-redwoodTableLink: #00688c;
  --oc-colors-main-serviceWidgetText: #161513b2;
  --oc-colors-main-serviceWidgetPin: #8b8580;
  --oc-colors-main-resourceTextColor: var(--labelColor__1497t566);
  --oc-colors-main-resourceSelectedColor: var(--backgroundColorSelected__1497t56b);
  --oc-colors-main-resourceBorderColor: var(--borderColorSelected__1497t56c);
  --oc-colors-main-widgetIcon: var(--oc-colors-main-black);
  --oc-colors-main-widgetBtnTxt: rgb(22, 21, 19);
  --oc-colors-main-resourceTableTxt: var(--oj-oci-table-text-color-primary);
  --oc-colors-main-megaMenuBg: var(--oc-colors-main-listWidgetTxtColor);
  --oc-colors-main-megaMenuBorder: rgba(22, 21, 19, 0.12);
  --oc-colors-main-subCategoryLabel: var(--oc-colors-main-black);
  --oc-colors-main-megaMenuHover: rgba(22, 21, 19, 0.12);
  --oc-colors-main-megaMenuPrimaryTxt: var(--oc-colors-main-primaryBase);
  --oc-colors-main-listWidgetItemHover: rgba(22, 21, 19, 0.08);
  --oc-colors-main-regionDropDown: var(--oc-colors-main-white);
  --oc-colors-main-widgetBtnHover: var(--oc-colors-main-bgLighter);
  --oc-colors-main-redwoodHeaderBorder: var(--oc-colors-main-chBgBase);
  --oc-colors-main-showMorePanelBlack: #161513;
  --oc-colors-main-listWidgetIconHover: #161513;
  --oc-colors-main-showMorePanelItemHover: #efefef;
  --oc-colors-main-actionBg: var(--oc-colors-main-info);
  --oc-colors-main-dangerBg: var(--oc-colors-main-danger);
  --oc-colors-main-infoBg: var(--oc-colors-main-info);
  --oc-colors-main-successBg: var(--oc-colors-main-success);
  --oc-colors-main-overviewBg: transparent;
  --oc-colors-main-overviewBorder: transparent;
  --oc-colors-main-actionBgTxt: var(--oc-colors-main-white);
  --oc-colors-main-errorTextBg: var(--oc-colors-main-danger);
  --oc-colors-main-dangerBgTxt: var(--oc-colors-main-white);
  --oc-colors-main-infoBgTxt: var(--oc-colors-main-white);
  --oc-colors-main-successBgTxt: var(--oc-colors-main-white);
  --oc-colors-main-warningBg: var(--oc-colors-main-warning);
  --oc-colors-main-warningBgTxt: var(--oc-colors-main-white);
  --oc-colors-main-borderLight: var(--oc-colors-main-bgDarkest);
  --oc-colors-main-btnBgDgr: var(--oc-colors-main-dangerBg);
  --oc-colors-main-btnBgDgrHvr: var(--oc-colors-reds-60);
  --oc-colors-main-btnBgDgrActv: var(--oc-colors-reds-30);
  --oc-colors-main-tertiaryBg: transparent;
  --oc-colors-main-tertiaryBgTxt: var(--oc-colors-main-white);
  --oc-colors-main-alwaysFreeBg: var(--oc-colors-main-fgLighter);
  --oc-colors-main-alwaysFreeBgTxt: var(--oc-colors-main-bgLightest);
  --oc-colors-main-alwaysFreeBgMuted: var(--oc-colors-main-fgLightest);
  --oc-colors-main-alwaysFreeBgMutedTxt: var(--oc-colors-main-bgLightest);
  --oc-colors-main-cardBg: var(--oc-colors-main-bgLightest);
  --oc-colors-main-cardBgTxt: var(--oc-colors-main-fgBase);
  --oc-colors-main-cardBgLnk: var(--oc-colors-main-primaryBase);
  --oc-colors-main-asideBg: var(--oc-colors-main-chBgBase);
  --oc-colors-main-asideLnk: var(--oc-colors-main-chFgBase);
  --oc-colors-main-asideTxt: var(--oc-colors-main-chFgBase);
  --oc-colors-main-tertiaryFlatTxt: var(--oc-colors-main-bgDarkest);
  --oc-colors-main-fgDarkest: #080603;
  --oc-colors-main-fgDarker: #0e0c09;
  --oc-colors-main-fgDark: #131210;
  --oc-colors-main-fgBase: #161513;
  --oc-colors-main-fgLight: #3d3c3a;
  --oc-colors-main-fgLighter: #665f5b;
  --oc-colors-main-fgLightest: #aea8a2;
  --oc-colors-main-bgDarkest: #bcb6b1;
  --oc-colors-main-bgDarker: #d4cfca;
  --oc-colors-main-bgDark: #e4e1dd;
  --oc-colors-main-bgBase: #f1efed;
  --oc-colors-main-bgLight: #f4f2f0;
  --oc-colors-main-bgLighter: #f7f6f4;
  --oc-colors-main-bgLightest: #fdfdfc;
  --oc-colors-main-primaryDarkest: #002341;
  --oc-colors-main-primaryDarker: #06485f;
  --oc-colors-main-primaryDark: #005477;
  --oc-colors-main-primaryBase: #00688c;
  --oc-colors-main-primaryLight: #79b1c6;
  --oc-colors-main-primaryLighter: #e7f2f5;
  --oc-colors-main-primaryLightest: #f5fafc;
  --oc-colors-main-chFgDarkest: #3e3e3e;
  --oc-colors-main-chFgDarker: #777777;
  --oc-colors-main-chFgDark: #c6c6c6;
  --oc-colors-main-chFgBase: #ffffff;
  --oc-colors-main-chFgLight: #ffffff;
  --oc-colors-main-chFgLighter: #ffffff;
  --oc-colors-main-chFgLightest: #ffffff;
  --oc-colors-main-chBgDarkest: #16120e;
  --oc-colors-main-chBgDarker: #1d1a17;
  --oc-colors-main-chBgDark: #292522;
  --oc-colors-main-chBgBase: #3A3632;
  --oc-colors-main-chBgLight: #55524f;
  --oc-colors-main-chBgLighter: #918e8b;
  --oc-colors-main-chBgLightest: #5C5651;
  --oc-colors-main-chPrimaryDarkest: #433700;
  --oc-colors-main-chPrimaryDarker: #7a6930;
  --oc-colors-main-chPrimaryDark: #f0cc71;
  --oc-colors-main-chPrimaryBase: #f7e0a1;
  --oc-colors-main-chPrimaryLight: #f8e6ad;
  --oc-colors-main-chPrimaryLighter: #f9eebc;
  --oc-colors-main-chPrimaryLightest: #fcfae9;
  --oc-colors-main-secondaryDarkest: #251f1c;
  --oc-colors-main-secondaryDarker: #36302c;
  --oc-colors-main-secondaryDark: #524c48;
  --oc-colors-main-secondaryBase: #665f5b;
  --oc-colors-main-secondaryLight: #827d78;
  --oc-colors-main-secondaryLighter: #afaba7;
  --oc-colors-main-secondaryLightest: #eeedec;
  --oc-colors-main-chBgAlt: #E4E1DD;
  --oc-colors-main-black: #000000;
  --oc-colors-main-white: #ffffff;
  --oc-colors-main-highlightBackground: #5fa2ba;
  --oc-colors-main-success: #508223;
  --oc-colors-main-warning: #AC630C;
  --oc-colors-main-danger: #D63B25;
  --oc-colors-main-info: #00688C;
  --oc-colors-main-freeTier: #7405CE;
  --oc-colors-main-warningBanner: #ff0;
  --oc-colors-main-slateGray: #697778;
  --oc-colors-main-bannerDefaultText: #161513;
  --oc-colors-main-tertiaryBgLnk: #007ccb;
  --oc-colors-main-tagFilterSecondaryFlatTxt: var(--oc-colors-main-metadata);
  --oc-colors-main-tagFilterTertiaryFlatTxt: var(--oc-colors-main-metadata);
  --oc-colors-main-selectOptionActive: var(--oc-colors-main-elementSelected);
  --oc-colors-defaultChartScale-blueGreen: #245D63;
  --oc-colors-defaultChartScale-orange: #DE7F11;
  --oc-colors-defaultChartScale-tradeWind: #5FB9B5;
  --oc-colors-defaultChartScale-darkBrown: #4E4137;
  --oc-colors-defaultChartScale-pistachio: #A0C98B;
  --oc-colors-defaultChartScale-pink: #B47282;
  --oc-colors-defaultChartScale-brown: #83401E;
  --oc-colors-defaultChartScale-violet: #9E7FCC;
  --oc-colors-defaultChartScale-yellow: #FBC26A;
  --oc-colors-defaultChartScale-purple: #58316E;
  --oc-colors-defaultChartScale-skyBlue: #5FA2BA;
  --oc-colors-chartStatus-default: #F7F7F7;
  --oc-colors-chartStatus-success: #76B417;
  --oc-colors-chartStatus-warning: #F5A700;
  --oc-colors-chartStatus-danger: #D63B25;
  --oc-colors-reds-5: #FDF2F3;
  --oc-colors-reds-10: #FCE6E8;
  --oc-colors-reds-20: #F6B3BB;
  --oc-colors-reds-30: #F1808E;
  --oc-colors-reds-40: #EC4F3A;
  --oc-colors-reds-50: #D63B25;
  --oc-colors-reds-60: #C33522;
  --oc-colors-reds-70: #880012;
  --oc-colors-reds-80: #5B000C;
  --oc-colors-reds-90: #2D0006;
  --oc-colors-greens-5: #F2F2F2;
  --oc-colors-greens-10: #EBF3EB;
  --oc-colors-greens-20: #C2DAC3;
  --oc-colors-greens-30: #99C29B;
  --oc-colors-greens-40: #66A361;
  --oc-colors-greens-50: #508223;
  --oc-colors-greens-60: #2A6D2D;
  --oc-colors-greens-70: #1F4F21;
  --oc-colors-greens-80: #143516;
  --oc-colors-greens-90: #0A1A0B;
  --oc-colors-blues-5: #F5FAFC;
  --oc-colors-blues-10: #E7F2F5;
  --oc-colors-blues-20: #B4D4F0;
  --oc-colors-blues-30: #E4F1F7;
  --oc-colors-blues-35: #7AB4C8;
  --oc-colors-blues-40: #79B1C6;
  --oc-colors-blues-50: #5FA2BA;
  --oc-colors-blues-60: #00688C;
  --oc-colors-blues-70: #06485F;
  --oc-colors-blues-78: #026CAD;
  --oc-colors-blues-80: #022D52;
  --oc-colors-blues-90: #011629;
  --oc-colors-yellows-5: #FEFAF2;
  --oc-colors-yellows-10: #FEF6E6;
  --oc-colors-yellows-20: #FCE4B3;
  --oc-colors-yellows-30: #FAD380;
  --oc-colors-yellows-40: #F7BD40;
  --oc-colors-yellows-50: #F5A700;
  --oc-colors-yellows-60: #E19900;
  --oc-colors-yellows-70: #936400;
  --oc-colors-yellows-80: #624200;
  --oc-colors-yellows-90: #011629;
  --oc-colors-purples-5: #F5ECFB;
  --oc-colors-purples-10: #EADDF4;
  --oc-colors-purples-20: #DBC9E5;
  --oc-colors-purples-30: #C4B0D1;
  --oc-colors-purples-40: #B7A1C4;
  --oc-colors-purples-50: #A890B6;
  --oc-colors-purples-60: #957CA4;
  --oc-colors-purples-70: #6F577B;
  --oc-colors-purples-80: #594564;
  --oc-colors-purples-90: #36293C;
  --oc-colors-oranges-5: #FCEDDC;
  --oc-colors-oranges-10: #F9DDBC;
  --oc-colors-oranges-20: #F6C792;
  --oc-colors-oranges-30: #F0A957;
  --oc-colors-oranges-40: #EB9632;
  --oc-colors-oranges-50: #AC630C;
  --oc-colors-oranges-60: #8F520A;
  --oc-colors-oranges-70: #724108;
  --oc-colors-oranges-80: #512F06;
  --oc-colors-oranges-90: #452705;
  --oc-colors-primaryGrays-5: #FBF9F8;
  --oc-colors-primaryGrays-10: #F5F4F2;
  --oc-colors-primaryGrays-13: #EDEDED;
  --oc-colors-primaryGrays-15: #F1EFED;
  --oc-colors-primaryGrays-20: #E4E1DD;
  --oc-colors-primaryGrays-30: #D6D6D6;
  --oc-colors-primaryGrays-40: #BCB6B1;
  --oc-colors-primaryGrays-45: #AEA8A2;
  --oc-colors-primaryGrays-50: #929191;
  --oc-colors-primaryGrays-58: #717171;
  --oc-colors-primaryGrays-60: #665F5B;
  --oc-colors-primaryGrays-62: #7A736E;
  --oc-colors-primaryGrays-70: #514C47;
  --oc-colors-primaryGrays-80: #312D2A;
  --oc-colors-primaryGrays-85: #253D2C;
  --oc-colors-primaryGrays-90: #161513;
  --oc-colors-coolGrays-5: #F3F4F4;
  --oc-colors-coolGrays-10: #EFF1F4;
  --oc-colors-coolGrays-20: #DBDFE3;
  --oc-colors-coolGrays-30: #C8CDD2;
  --oc-colors-coolGrays-40: #BFC4D2;
  --oc-colors-coolGrays-50: #B5BBC2;
  --oc-colors-coolGrays-60: #8E959D;
  --oc-colors-coolGrays-70: #687079;
  --oc-colors-coolGrays-80: #424A55;
  --oc-colors-coolGrays-90: #1C2531;
  --oc-colors-alert-danger: var(--oc-colors-reds-50);
  --oc-colors-alert-informational: var(--oc-colors-blues-60);
  --oc-colors-alert-success: var(--oc-colors-greens-50);
  --oc-colors-alert-unknown: var(--oc-colors-blues-60);
  --oc-colors-alert-warning: var(--oc-colors-oranges-50);
  --oc-colors-button-defaultBg: var(--oc-colors-main-primaryBg);
  --oc-colors-button-defaultBgTxt: var(--oc-colors-main-primaryBgTxt);
  --oc-colors-button-defaultActiveBg: var(--oc-colors-main-primaryBg);
  --oc-colors-button-defaultHoverBg: var(--oc-colors-main-btnBgDfltHvr);
  --oc-colors-button-destructiveBg: var(--oc-colors-main-dangerBg);
  --oc-colors-button-destructiveActiveBg: var(--oc-colors-main-btnBgDgrActv);
  --oc-colors-button-destructiveHoverBg: var(--oc-colors-main-btnBgDgrHvr);
  --oc-colors-button-primaryBg: var(--oc-colors-main-btnBgPrmy);
  --oc-colors-button-primaryActiveBg: var(--oc-colors-main-btnBgPrmyActv);
  --oc-colors-button-primaryHoverBg: var(--oc-colors-main-btnBgPrmyHvr);
  --oc-colors-content-disabled: var(--oc-colors-main-btnTxtDisabled);
  --oc-colors-content-primary: var(--oc-colors-main-primaryBgTxt);
  --oc-colors-content-secondary: var(--oc-colors-main-tabBtnTxt);
  --oc-colors-stroke-primary: var(--oc-colors-main-borderDflt);
  --oc-colors-stroke-light: var(--oc-colors-main-borderDflt);
  --oc-colors-transparency-invisible: rgba(204, 204, 204, 0);
  --oc-fontSizes-sm: 11px;
  --oc-fontSizes-std: 13.75px;
  --oc-fontSizes-md: 16px;
  --oc-fontSizes-lg: 18px;
  --oc-fontSizes-lgx: 22px;
  --oc-fontSizes-xl: 28px;
  --oc-fontSizes-xxl: 32px;
  --oc-fontSizes-xxxl: 50px;
  --oc-fontWeights-light: 300;
  --oc-fontWeights-regular: 400;
  --oc-fontWeights-semiBold: 500;
  --oc-fontWeights-bold: 700;
  --oc-lineHeights-sm: 13px;
  --oc-lineHeights-md: 16px;
  --oc-lineHeights-lg: 20px;
  --oc-lineHeights-xl: 32px;
  --oc-lineHeights-xxl: 40px;
  --oc-lineHeights-proportionalSm: 1.25;
  --oc-lineHeights-proportionalMd: 1.4;
  --oc-lineHeights-proportionalLg: 1.7;
  --oc-radii-default: 3px;
  --oc-space-none: 0px;
  --oc-space-xxs: 2px;
  --oc-space-xs: 4px;
  --oc-space-sm: 8px;
  --oc-space-md: 12px;
  --oc-space-lg: 20px;
  --oc-space-xl: 32px;
  --oc-space-xxl: 40px;
}