table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
    width: 50%;
  }

  input {
    width: 100%
  }
 
  select{
    width: 100%;
  }

  body {
    color: var(--vscode-foreground);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    font-family: var(--vscode-font-family);
    background-color: var(--vscode-editor-background);
  }

  label {
    border: none;
    font-family: var(--vscode-font-family);
    font-size: 15px;
  }

  button {
    border: none;
    text-align: center;
    color: var(--vscode-button-foreground);
    background: var(--vscode-button-background);
  }
  
  .error {
    padding-left: 5px;
    color: red;
  }

  #output-level-checkbox{
    width: auto;
  }

  .float-container {
    border: 8px solid;
    border-block: none;
  }

  .float-child {
      width: 10px;
      float: left;
      padding: 2px;
  }  

  .cancel-button{
    margin-left: 55px;
  }